h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:palevioletred;
    font-size: 18px
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px
}
* {
    background:lightpink;
p.b {
    margin: 1em 0em 1em 1em;
    width: 50%;
    border: 1px dashed;
    float: right;
}   
ul.a {
    display: inline-block;
    border: 2px solid #000;
    padding: 20px;
    border-color: lightblue lightcoral lightseagreen lightgreen
}