h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: palevioletred;  
}
* {
    background: lightgrey;
    
}
table, th, td{
    border: 2px;
    color: lightblue lightcoral lightseagreen lightgreen
}
