
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}

.slideshow{
    flex: 1 0 auto;

}

#tohnnasfooter{
    text-align: left;
    flex-shrink:0;
    left: 0;
    
}